In [1]:
import pandas as pd
Data = pd.read_csv("seattleWeather_1948-2017.csv")
Data

             DATE  PRCP  TMAX  TMIN   RAIN
0      1948-01-01  0.47    51    42   True
1      1948-01-02  0.59    45    36   True
2      1948-01-03  0.42    45    35   True
3      1948-01-04  0.31    45    34   True
4      1948-01-05  0.17    45    32   True
5      1948-01-06  0.44    48    39   True
6      1948-01-07  0.41    50    40   True
7      1948-01-08  0.04    48    35   True
8      1948-01-09  0.12    50    31   True
9      1948-01-10  0.74    43    34   True
10     1948-01-11  0.01    42    32   True
11     1948-01-12  0.00    41    26  False
12     1948-01-13  0.00    45    29  False
13     1948-01-14  0.00    38    26  False
14     1948-01-15  0.00    34    31  False
15     1948-01-16  0.00    34    28  False
16     1948-01-17  0.00    35    29  False
17     1948-01-18  0.00    33    28  False
18     1948-01-19  0.00    34    27  False
19     1948-01-20  0.00    36    29  False
20     1948-01-21  0.00    48    32  False
21     1948-01-22  0.21    47    44   True
22     1948-01-23  0.00    47    43  False
23     1948-01-24  0.10    45    34   True
24     1948-01-25  0.00    46    30  False
25     1948-01-26  0.00    45    32  False
26     1948-01-27  0.00    53    33  False
27     1948-01-28  0.00    53    25  False
28     1948-01-29  0.22    42    34   True
29     1948-01-30  0.03    47    30   True
...           ...   ...   ...   ...    ...
25521  2017-11-15  0.46    53    43   True
25522  2017-11-16  0.16    44    42   True
25523  2017-11-17  0.00    50    42  False
25524  2017-11-18  0.00    52    41  False
25525  2017-11-19  0.58    53    39   True
25526  2017-11-20  0.63    50    41   True
25527  2017-11-21  1.14    60    38   True
25528  2017-11-22  0.52    68    56   True
25529  2017-11-23  0.20    59    48   True
25530  2017-11-24  0.01    52    46   True
25531  2017-11-25  0.19    51    43   True
25532  2017-11-26  0.25    58    42   True
25533  2017-11-27  0.00    50    42  False
25534  2017-11-28  0.68    47    43   True
25535  2017-11-29  0.00    50    41  False
25536  2017-11-30  0.27    46    41   True
25537  2017-12-01  0.27    48    38   True
25538  2017-12-02  0.79    44    41   True
25539  2017-12-03  0.05    46    39   True
25540  2017-12-04  0.00    45    34  False
25541  2017-12-05  0.00    45    33  False
25542  2017-12-06  0.00    52    36  False
25543  2017-12-07  0.00    52    34  False
25544  2017-12-08  0.00    43    29  False
25545  2017-12-09  0.00    44    29  False
25546  2017-12-10  0.00    49    34  False
25547  2017-12-11  0.00    49    29  False
25548  2017-12-12  0.00    46    32  False
25549  2017-12-13  0.00    48    34  False
25550  2017-12-14  0.00    50    36  False

[25551 rows x 5 columns]